.rec-body {
  position: relative;
  margin: 0 $page-margin;
  padding-bottom: 3rem;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    lost-column: 3/5;
    order: 1;
    padding-top: 20%;
    padding-right: 5%;
  }
  @media (min-width: $breakpoint-desktop-large) {
    lost-column: 2/4;
  }

  section {

    &:first-child {

      h2 {
        @media (min-width: $breakpoint-desktop) {
          margin-top: 0;
        }
      }
    }
  }

  ol {
    list-style-type: none;
    margin-left: 0;

    li {
      counter-increment: customlistcounter;

      &:before {
        content: counter(customlistcounter) ")";
        float: left;
        width: 1.5rem;
      }

      &:first-child {
        counter-reset: customlistcounter;
      }
    }
  }
}
