.rec-header {
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 40%;
  }

  @media (min-width: $breakpoint-desktop) {
    position: absolute;
    top: 0;
    left: 0;
    width: 31.25%;
  }

  &.rec-header--large {
    @media (min-width: $breakpoint-desktop) {
      width: 50%;
    }

    h1 {

      @media (min-width: $breakpoint-tablet) {
        font-size: 3rem;
        line-height: 3.25rem;
        max-width: 25rem;

        &:before {
          left: -3rem;
        }
      }
      @media (min-width: $breakpoint-tablet-large) {
        font-size: 4rem;
        line-height: 4.5rem;
        max-width: 35rem;
        &:before {
          left: -3.75rem;
        }
      }
      @media (min-width: $breakpoint-desktop) {
        
      }
      @media (min-width: $breakpoint-desktop-xl) {
        left: 27%;
      }
    }
  }

  h1 {
    position: absolute;
    top: 21.5%;
    left: 15%;
    color: $red;
    font-family: $font-condensed;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    word-wrap: normal;
    //transform: rotate(90deg);
    transform-origin: top left;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 15rem;
    z-index: 3;

    &:before {
      content: '\2215\2215\2215';
      position: absolute;
      left: -2.5rem;
      letter-spacing: 5px;

      @media (min-width: $breakpoint-tablet-large) {
        content: '\2215\2215\2215';
        left: -3.25rem;
      }
      @media (min-width: $breakpoint-desktop) {
        content: '\2215\2215\2215';
        left: -2.5rem;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      top: 30%;
      //left: 28%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 3rem;
      line-height: 4rem;
      max-width: 24rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 2rem;
      line-height: 3.25rem;
      left: 30%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      left: 29%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      font-size: 2.438rem;
      line-height: 3.5rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      left: 28%;
    }
  }

  .rec-header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .top-left-triangle {
      background-image: linear-gradient(295deg, $dark-red 0%, $darker-grey 43%);
      top: -115%;
      left: -125%;
      transform: rotate(48deg);

      @media (min-width: $breakpoint-desktop) {
        transform: rotate(45deg);
        top: -121%;
        left: -121%;
      }
    }
  }

  .rec-header__image {
    position: absolute;
    top: 21%;
    right: 0;
    width: 68%;
    overflow: hidden;
    //box-shadow: -.25rem -.75rem 1rem rgba($darker-grey, 0.25);
    z-index: 2;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    @media (min-width: $breakpoint-tablet) {
      top: 15%;
      width: 75%;
    }
    @media (min-width: $breakpoint-desktop) {
      //box-shadow: -.75rem -.75rem 1rem rgba($darker-grey, 0.25);
    }

    .top-left-triangle {
      display: none;
      visibility: hidden;
      top: -120.5%;
      left: -120.5%;
      box-shadow: .5rem .75rem 1rem rgba($darker-grey, 0.25);
      overflow: hidden;

      @media (min-width: $breakpoint-desktop) {
        box-shadow: .2rem .75rem 1rem rgba($darker-grey, 0.25);
      }

      .triangle-image {
        position: absolute;
        top: 0;
        left: 0;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 125%;
        height: 125%;
        transform: rotate(-45deg);
        filter: grayscale(100%);
      }
    }

  }

  .top-left-triangle {
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(45deg);
    display: none;
    visibility: hidden;
  }
}
