.rec-about__info {
  position: relative;
  overflow: hidden;

  @media (min-width: $breakpoint-desktop) {
    order: 3;
    width: 50%;
    overflow: visible;
  }

  #rec-map {
    position: absolute !important;
    width: 100%;
    height: 21rem;
    margin-left: $page-margin;
    box-shadow: 1.125rem .25rem 1.5rem $darker-grey;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: -9.5rem;
      left: -9.5rem;
      background-color: $white;
      @include size(15rem);
      transform: rotate(45deg);
      z-index: 2;

      @media (min-width: $breakpoint-desktop) {
        content: '';
        top: -10.625rem;
        left: -10.625rem;
      }
      @media (min-width: $breakpoint-desktop-large) {
        content: '';
        top: -10.1rem;
        left: -10.1rem;
      }
      @media (min-width: $breakpoint-desktop-huge) {
        content: '';
        top: -9rem;
        left: -9rem;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(45deg, rgba($red, 0.55) 40%, rgba($red, 0) 100%), linear-gradient(45deg, rgba($darker-grey, 0) 35%, rgba($darker-grey, 0.5) 60%, rgba($darker-grey, 0.7) 80%);
      width: 100%;
      height: 100%;
    }

    @media (min-width: $breakpoint-tablet) {
      height: 35rem;
      margin-left: $page-margin-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 113.2%;
      margin-left: 13%;
      box-shadow: 1.125rem 1rem 1.5rem rgba($darker-grey, .5);
    }
    @media (min-width: $breakpoint-desktop-large) {
      height: 45rem;
      margin-left: 14.5%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      height: 55rem;
    }
  }

  .rec-hours {
    background-image: linear-gradient(-30deg, rgba(237, 28, 36, 0.3) 0%, rgba(237, 28, 36, 0.3) 55%, rgba($black, 0.3) 100%), linear-gradient(-30deg, rgba(237, 28, 36, 0.3) 0%, rgba(237, 28, 36, 0.3) 55%, rgba($black, 0.3) 100%), linear-gradient(-30deg, rgba(237, 28, 36, 0.3) 0%, rgba(237, 28, 36, 0.3) 55%, rgba($black, 0.3) 100%), linear-gradient(-30deg, rgba(237, 28, 36, 0.3) 0%, rgba(237, 28, 36, 0.3) 55%, rgba($black, 0.3) 100%);
    padding: 11rem 0 2rem $page-margin;
    margin-top: 10rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 25rem 0 2rem $page-margin-tablet;
      margin-top: 17rem;
    }

    @media (min-width: $breakpoint-desktop) {
      height: calc(100% - 13rem);
      padding: 25rem 13% 2rem 13%;
      margin-top: 13rem;
    }

    @media (min-width: $breakpoint-desktop-large) {
      height: calc(100% - 15rem);
      padding: 32rem 14.5% 2rem 14.5%;
      margin-top: 15rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      height: calc(100% - 18rem);
      padding: 40rem 14.5% 2rem 14.5%;
      margin-top: 18rem;
    }

    h2,
    h3,
    h4,
    p {
      color: $white;
      padding-right: $page-margin;

      @media (min-width: $breakpoint-tablet) {
        padding-right: $page-margin-tablet;
      }
    }
    h3,
    h4 {
      font-family: $font-secondary;
      text-transform: uppercase;
      margin-top: 0;
    }

    h3 {
      margin-bottom: .25rem;
    }

    p {
      font-style: italic;
    }
  }
}
