.staff-member {
  margin-bottom: 4rem;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    align-items: flex-start;
    width: 50%;
  }

  .staff-member__image {
    position: relative;
    width: 50%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: -60%;
      bottom: -60%;
      background-color: $white;
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
      z-index: 2;
    }

    @media (min-width: $breakpoint-desktop) {
      flex: 1;
      max-width: 21.875rem;
    }

    img {
      position: relative;
      width: 100%;
      z-index: 1;

      @media (min-width: $breakpoint-desktop) {
        margin-top: .375rem;
      }
    }
  }

  .staff-member__info {

    @media (min-width: $breakpoint-desktop) {
      flex: 2;
      padding-right: 1rem;
      padding-left: 1rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      padding-right: 4rem;
      padding-left: 4rem;
    }

    h4 {
      font-family: $font-secondary;
      font-size: 2.438rem;
      line-height: 2.6rem;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-bottom: .25rem;

      @media (min-width: $breakpoint-desktop) {
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: 0;
      }
    }

    .staff-member__title {
      font-family: $font-secondary;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.5rem;
      text-transform: uppercase;
      margin-top: 0;
    }

    .staff-member__details {

      @media (min-width: $breakpoint-desktop) {
        font-size: 1rem;
      }
    }

    .staff-member__contact {
      font-style: italic;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1rem;
      }
    }
  }
}
