// TTY Styles
.ttu-main-header {
  z-index: 1001;
}
.l-main-pagecontent {
  padding-top: 0;

  p {

    @media (min-width: $breakpoint-desktop-large) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  ol,
  ul {

    li {

      @media (min-width: $breakpoint-desktop-large) {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }

  /* This is to select the column IT added to put all the content in */
  & > .standard-content {
    width: 100%;

    & > div {
      width: 100%;
      max-width: 100%;

      & > div {
        padding: 0;
        width: 100%;

        @media (min-width: $breakpoint-desktop) {
          lost-center: 78.28%;
          justify-content: flex-end;
          padding-bottom: 3rem;
        }
      }
    }
  }
}
.breadcrumb {
  display: none;
}
.l-contact {
  margin-top: 0;
}
.ttu-main-content {
  transform: none;
  will-change: auto;
}
.ou-btn {
  position: absolute;
  top: 124px;
  left: 12%;
  z-index: 5000;
}

// Grid
@lost flexbox flex;
@lost gutter 0;

// Headings
.l-main-pagecontent h2 {
  position: relative;
  color: $dark-grey;
  font-family: $font-secondary;
  font-size: 2.438rem;
  letter-spacing: .25rem;
  line-height: 3rem;
  text-indent: 3rem;
  text-transform: uppercase;
  margin-top: 6rem;

  @media (min-width: $breakpoint-tablet-large) {
    font-size: 3rem;
    line-height: 3.3rem;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 2.438rem;
    line-height: 3.25rem;
  }

  &:before {
    content: '\2215\2215\2215';
    position: absolute;
    left: -2.5rem;
    letter-spacing: 5px;

    @media (min-width: $breakpoint-tablet-large) {
      content: '\2215\2215\2215';
      left: -3.25rem;
    }
    @media (min-width: $breakpoint-desktop) {
      content: '\2215\2215\2215';
      left: -2.5rem;
    }
  }
}
.l-main-pagecontent h3 {
  font-family: $font;
  font-size: 1.438rem;
  font-weight: 700;
  letter-spacing: .25rem;
  text-transform: none;
  margin-top: 4rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.65rem;
  }
}

table {
  border-spacing: 0;
  margin: 3.5rem 0 5rem;

  caption {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 2.438rem;
    text-align: left;
  }

  thead {

    tr {

      th {
        display: table-cell;
        font-family: $font;
        font-size: 1.438rem;
        font-weight: 700;
        text-transform: none;
        padding: 1rem 0 .5rem;

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.65rem;
        }
      }
    }
  }

  tbody {

    tr {

      td {
        display: table-cell;
        padding: .75rem 0 .25rem;
        width: 50%;

        &:last-child {
          text-align: right;
          padding-left: .5rem;
        }

        &:before {
          content: '';
          display: none;
        }

        @media (min-width: $breakpoint-tablet) {
          border-bottom: 1px solid #e4e4e4;
          padding: 1.25rem 0 .5rem;
        }
      }
    }
  }
}

.flex-on-scroll {
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.4s ease;
  will-change: transform;
}

@import "global/header";
@import "global/sidebar";
@import "global/body";
