.rec-staff-header {
  margin: 0 $page-margin;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    width: 40%;
    padding-top: 15rem;
    margin-bottom: 5rem;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding-top: 25rem;
    margin-bottom: 12rem;
  }
  @media (min-width: $breakpoint-desktop-xl) {
    margin-bottom: 20rem;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    padding-top: 17rem;
    margin-bottom: 15rem;
  }

  p {

    @media (min-width: $breakpoint-desktop) {
      max-width: 37.5rem;
    }
  }
}

.staff {
  margin: 6rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    margin: 6rem $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    margin: 3rem $page-margin-tablet;
  }

  h2 {

    @media (min-width: $breakpoint-desktop) {
      width: 100%;
    }
  }

  @import "staff/staff-member";
}
