.rec-home__departments {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 5rem 0 5rem;
  }

  .rec-department {
    position: relative;
    background-color: $white;
    margin-bottom: 3rem;
    overflow: hidden;

    @media (min-width: $breakpoint-desktop) {
      width: 20%;
      margin-right: 6.66%;
    }

    &:nth-child(4n) {

      @media (min-width: $breakpoint-desktop) {
        margin-right: 0;
      }
    }

    &.active {
      overflow-y: scroll;

      @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        overflow-y: hidden;
      }

      h3 {
        transition: all .4s;

        @media (min-width: $breakpoint-desktop) {
          width: 100%;
        }
      }

      & > a {

        .rec-department__plus {

          @media (min-width: $breakpoint-desktop) {
            right: 1.5%;
          }

        }
      }

      .rec-department__details {
        display: flex;

        & > * {
          margin-top: 0;
          margin-right: 4rem;
        }
      }
    }

    h3 {
      color: $dark-grey;
      font-family: $font-secondary;
      font-weight: 900;
      text-transform: uppercase;
      padding: 0 $page-margin 0 $page-margin * 2.5;
      transition: all .4s;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1rem;
        white-space: nowrap;
        word-break: keep-all;
        padding: 0 1rem 0 2.5rem;
        margin-top: 6.67%;
      }
      @media (min-width: 1400px) {
        font-size: 1.25rem;
      }
      @media (min-width: $breakpoint-desktop-large) {
        font-size: 1.825rem;
        padding: 0 1rem 0 2.75rem;
      }
      @media (min-width: $breakpoint-desktop-xl) {
        padding: 0 1rem 0 3.25rem;
      }

      &:before {
        content: '\2215\2215\2215';
        position: absolute;
        left: $page-margin;
        letter-spacing: 5px;

        @media (min-width: $breakpoint-desktop) {
          content: '\2215\2215\2215';
          left: .375rem;
        }
      }
    }

    & > a {
      position: relative;
      display: block;
      background-position: 100% top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      transition: all .4s;
      will-change: transform;
      z-index: 1;

      @media (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      &:before {
        content: '';
        display: block;
        // background-image: linear-gradient(270deg, rgba($dark-red, 0.5) 0%, rgba($dark-red, 0.3) 50%, rgba($dark-red, 0) 80%);
        background-image: linear-gradient(55deg, rgba($black, 1) 0%, rgba($black, 0) 40%), linear-gradient(55deg, rgba($dark-red, 0) 0%, rgba($dark-red, 0.5) 20%, rgba($dark-red, 0.5) 65%, rgba($dark-red, 0) 90%);
        background-blend-mode: multiply;
        padding-top: 100%;
        transition: all .2s;

        @media (min-width: $breakpoint-tablet) {
          padding-top: 80%;
        }
        @media (min-width: $breakpoint-desktop) {
          padding-top: 100%;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: -5rem;
        bottom: -5rem;
        background-color: $white;
        @include size(10rem);
        transform: rotate(45deg);
        z-index: 2;
        transition: all .4s;

        @media (min-width: $breakpoint-desktop) {
          right: -11rem;
          bottom: -11rem;
          @include size(18rem);
        }
      }
      &:hover {
        background-position: 97% top;

        .rec-department__plus {
          transform: rotate(90deg);

          p {
            color: $red;
          }
        }
      }

      .rec-department__plus {
        position: absolute;
        right: .5%;
        bottom: .5%;
        @include size(2rem);
        padding: 0;
        margin: 0;
        z-index: 3;
        transition: all .4s;
        will-change: transform;

        @media (min-width: $breakpoint-tablet) {
          right: 5%;
        }
        @media (min-width: $breakpoint-desktop) {
          right: 0;
        }

        &:before,
        &:after, {
          content: '';
          position: absolute;
          top: 50%;
          bottom: 50%;
          background-color: $black;
          width: 100%;
          height: .125rem;
          transition: all .4s;
        }
        &:after {
          content: '';
          transform: rotate(90deg);
        }
        &.minus {

          &:after {
            content: '';
            transform: rotate(0);
          }
        }

        p {
          position: absolute;
          top: 40%;
          right: 0;
          color: $dark-grey;
          font-family: $font-secondary;
          font-size: .8rem;
          text-transform: uppercase;
          margin: 0;
          transition: all .4s;
          opacity: 0;
        }
      }
    }

    .rec-department__details {
      display: none;
      position: relative;
      padding: 4rem 1rem 2rem;
      z-index: 3;
      opacity: 0;
      transition: all .4s;

      @media (min-width: $breakpoint-desktop) {
        padding: 0;
        margin: 0 0 0 $page-margin-desktop;
      }

      ul {
        list-style: none;
        margin: 0;

        li {

          a {
            color: $black;
            font-family: $font-secondary;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }
}
