.rec-home__facilities {
  position: relative;
  transform-style: preserve-3d;

  @media (min-width: $breakpoint-desktop) {
    order: -1;
    width: 71%;
    margin-top: calc(110vh - 124px);
  }

  .rec-facilities__background {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;

    @media (min-width: $breakpoint-desktop) {
      width: 60%;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 120%;

      @media (min-width: $breakpoint-tablet) {
        padding-top: 100%;
      }
    }

    .top-left-triangle {
      position: absolute;
      top: -100%;
      left: -110%;
      width: 200%;
      height: 200%;
      transform: rotate(52deg);
      overflow: hidden;

      @media (min-width: $breakpoint-tablet) {
        top: -115%;
        left: -118%;
      }

      @media (min-width: $breakpoint-desktop) {
        transform: rotate(45deg);
        top: -121%;
        left: -121%;
      }

      .triangle-image {
        position: absolute;
        top: 0;
        left: 0;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 125%;
        height: 125%;
        transform: rotate(-54deg);
        filter: grayscale(100%);
      }
    }
  }

  h2 {
    position: absolute;
    top: 11%;
    left: 44%;
    color: $red;
    font-weight: 700;
    letter-spacing: 1rem;
    text-indent: 0;
    width: 100%;
    margin: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    z-index: 3;

    @media (min-width: $breakpoint-tablet) {
      top: 30%;
      left: 47%;
    }
    @media (min-width: $breakpoint-desktop) {
      top: 15.5%;
      left: 27.5%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      top: 23%;
      left: 25%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      top: 32.5%;
      left: 28.625%;
    }

    &:before {
      content: '\2215\2215\2215';
      position: absolute;
      left: -3rem;
      letter-spacing: 5px;

      @media (min-width: $breakpoint-tablet-large) {
        content: '\2215\2215\2215';
        left: -3.25rem;
      }
      @media (min-width: $breakpoint-desktop) {
        content: '\2215\2215\2215';
        left: -2.5rem;
      }
    }
  }

  .rec-home__giant-letter {
    position: absolute;
    top: 8.75%;
    left: 50.5%;
    color: $white;
    font-family: $font-secondary;
    font-size: 25rem;
    font-weight: 900;
    line-height: 20rem;
    text-shadow: 0 0 1.25rem rgba($darker-grey, 0.5);
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      top: 28%;
    }
    @media (min-width: $breakpoint-desktop) {
      top: 13%;
      left: 30%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      top: 20%;
      left: 27%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      top: 30%;
      left: 30%;
    }
  }

  .rec-home-facilities__text {

    @media (min-width: $breakpoint-desktop) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding-right: 2.5rem;
      width: 50%;
    }

    p {
      padding: 0 $page-margin;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1rem;
      }
      @media (min-width: $breakpoint-desktop-huge) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }
}
