.rec-home__hero {
  position: relative;
  background: url('../images/runner-tying-shoes-bw.jpg') 60% top no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: calc(100vh - 84px);
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: 3;

  @media (min-width: $breakpoint-desktop) {
    position: absolute;
    top: 0;
    left: 0;
    min-height: calc(100vh - 124px);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(75deg, rgba($black, 1) 0%, rgba($black, 0) 40%), linear-gradient(75deg, rgba($dark-red, 0) 0%, rgba($dark-red, 0.6) 40%, rgba($dark-red, 0.7) 60%, rgba($dark-red, 0) 90%);
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media (min-width: $breakpoint-desktop) {
      background-image: linear-gradient(55deg, rgba($black, 1) 0%, rgba($black, 0) 40%), linear-gradient(55deg, rgba($dark-red, 0) 0%, rgba($dark-red, 0.6) 40%, rgba($dark-red, 0.7) 60%, rgba($dark-red, 0) 90%);
    }
  }

  h2 {
    position: relative;
    color: $white;
    font-size: 3.5rem;
    line-height: 3.9rem;
    text-indent: 0;
    word-break: keep-all;
    margin: 0 $page-margin;
    padding-top: 25vh;
    max-width: 70%;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      font-size: 6.688rem;
      line-height: 8.125rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 8rem;
      line-height: 8.75rem;
    }
    @media (min-width: $breakpoint-desktop) {
      line-height: 8rem;
      padding-top: 10vh;
      margin: 0 $page-margin-desktop;
      max-width: 50%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding-top: 16vh;
      max-width: 40%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      line-height: 9rem;
      padding-top: 17vh;
      max-width: 35%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      font-size: 9rem;
      max-width: 34%;
    }

    &:before {
      content: '';
      display: none;
    }
  }

  .rec-hero__call-to-action {
    position: relative;
    z-index: 2;

    &:hover {

      p {
        padding: 0 1.25rem 0 $page-margin;
      }
    }

    p {
      display: block;
      float: left;
      clear: left;
      position: relative;
      background-color: $red;
      color: $white;
      font-family: $font-secondary;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.25rem;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 .625rem 0 $page-margin;
      margin: 0;
      transition: all .3s;
      will-change: transform;

      @media (min-width: $breakpoint-tablet) {
        font-size: 2.438rem;
        line-height: 3rem;
      }
      @media (min-width: $breakpoint-desktop) {
        margin-left: $page-margin-desktop;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -2.25rem;
        background-color: transparent;
        width: 0;
      	height: 0;
      	border-top: 2.25rem solid $red;
      	border-right: 2.25rem solid transparent;
        will-change: transform;

        @media (min-width: $breakpoint-tablet) {
          right: -3rem;
          border-top: 3rem solid $red;
        	border-right: 3rem solid transparent;
        }
      }

      &:first-child {
        margin-top: 3vh;

        @media (min-width: $breakpoint-tablet) {
          margin-top: 6vh;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-top: 3vh;
        }
        @media (min-width: $breakpoint-desktop-large) {
          margin-top: 5vh;
        }
      }
      &:last-child {
        line-height: 1.75rem;
        padding-bottom: .125rem;

        @media (min-width: $breakpoint-tablet) {
          line-height: 2.4rem;
        }

        &:after {
          content: '';
          right: -1.875rem;
        	border-top: 1.875rem solid $red;
        	border-right: 1.875rem solid transparent;

          @media (min-width: $breakpoint-tablet) {
            right: -2.5rem;
          	border-top: 2.525rem solid $red;
          	border-right: 2.525rem solid transparent;
          }
        }
      }
    }
  }
}
