.rec-home__quick-links {
  padding: 2rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem $page-margin;
  }
  @media (min-width: $breakpoint-desktop) {
    width: 29%;
    padding: 0 0 0 1.5rem;
    margin-top: calc(110vh - 124px);
  }

  h2 {
    color: $dark-grey;
    text-align: center;
    text-indent: 0;

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.75rem;
      text-align: left;
      padding-left: 2.75rem;
      margin-top: 0;
      margin-left: .5rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      font-size: 2.75rem;
      padding-left: 3rem;
    }

    &:before {
      content: '\2215\2215\2215';
      left: 0;

      @media (min-width: $breakpoint-tablet) {
        left: 25%;
      }
      @media (min-width: $breakpoint-desktop) {
        left: 0;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;

    @media (min-width: $breakpoint-desktop) {
      display: block;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      margin-top: 3rem;
    }

    li {
      font-family: $font-secondary;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.125rem;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
      width: 50%;
      padding: 0 .375rem;

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.25rem;
        text-align: left;
        line-height: 1.2;
        width: 100%;
        padding-left: 0;
        margin-bottom: 1.5rem;
      }
      @media (min-width: $breakpoint-desktop-huge) {
        font-size: 1.5rem;
        line-height: 1.75rem;
      }

      a {
        color: $black;

        &:hover {
          color: $red;
        }
      }
    }
  }
}
