.rec-hours-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $red;
  color: $white;
  font-family: $font-secondary;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 212px;
  padding: 0 $page-margin 0 .625rem;
  transition: all .3s;
  z-index: 4;

  &:hover,
  &:focus {
    color: $white;
    padding: 0 $page-margin 0 1.25rem;
    min-width: 227px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2.25rem;
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 2.25rem solid $red;
    border-left: 2.25rem solid transparent;

    @media (min-width: $breakpoint-tablet) {
      left: -3rem;
      border-top: 3rem solid $red;
      border-left: 3rem solid transparent;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.438rem;
    line-height: 3rem;
    min-width: 212px;
  }
  @media (min-width: $breakpoint-desktop) {
    margin: 4rem 3.5rem;
  }
  @media (min-width: $breakpoint-desktop-xl) {
    margin: 6rem 10.86%;
  }
}

.rec-hours {
  position: fixed;
  top: 84px;
  right: -100%;
  background-color: $white;
  width: 100%;
  height: 100vh;
  padding-bottom: $page-margin;
  overflow: scroll;
  z-index: 1000;

  .rec-hours__close {
    position: absolute;
    top: $page-margin;
    right: $page-margin;
    background-color: transparent;
    border: none;
    @include size(2rem);
    transform: rotate(45deg);
    outline: none;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      @include size(3rem);
    }
    @media (min-width: $breakpoint-desktop) {
      top: 5rem;
      right: $page-margin-desktop;
    }

    &:focus,
    &:hover {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      transform: rotate(135deg);
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $darker-grey;
      width: 100%;
      height: 2px;
    }
    &:before {
      transform: translateX(-50%);
    }
    &:after {
      transform: translateX(-50%) rotate(90deg);
    }
  }

  .rec-hours__week {
    padding: $page-margin;

    @media (min-width: $breakpoint-desktop) {
      display: inline-block;
      padding: 5rem 0 0 $page-margin-desktop;
    }

    p,
    h3 {
      color: $dark-grey;
      font-family: $font-secondary;
      font-weight: 700;
      margin: 0;
    }
    p {
      text-transform: uppercase;

      @media (min-width: $breakpoint-tablet) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
    h3 {
      font-size: 4.5rem;
      line-height: 4.5rem;

      @media (min-width: $breakpoint-tablet) {
        font-size: 6rem;
        line-height: 6rem;
      }
    }
  }

  .rec-hours__grid {
    padding: $page-margin;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: $page-margin $page-margin-desktop;
    }

    .rec-hours__department {
      padding-bottom: 3rem;

      @media (min-width: $breakpoint-tablet) {
        padding: 2rem 0;
        width: 50%;
      }
      @media (min-width: $breakpoint-desktop) {
        padding: 2rem 1rem 2rem 0;
        width: 33%;
      }

      h4,
      p {
        font-family: $font-secondary;
        font-weight: 700;
        text-transform: uppercase;
      }
      h4 {
        font-size: 2rem;
        margin: 0 0 1.25rem;

        @media (min-width: $breakpoint-tablet) {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
      }
      .rec-hours-department__description {
        font-size: 85%;
        margin-top: -1.25rem;
        margin-bottom: 1.25rem;
      }
      p {
        margin: .25rem 0 .5rem;

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin: .5rem 0 .75rem;
        }
      }
    }
  }
}
