<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#cc0000">
<meta name="apple-mobile-web-app-status-bar-style" content="#cc0000">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="Author" content="State of Texas and Texas Tech University">
<meta name="Keywords" content="Texas Tech University">


<link rel="stylesheet" href="/stylesheets/ttu.min.css" media="all" />
<link rel="stylesheet" href="/stylesheets/styles.css" media="all" />
<link rel="shortcut icon" href="/_ttu-template/2017/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/_ttu-template/2017/img/favicon.ico" type="image/x-icon" />

<script type="text/javascript">
    // MTI Tracking Code
     var MTIProjectId = '76d1bfe1-39f8-4fc4-9202-23ddf5addb92';
     (function() {
         var mtiTracking = document.createElement('script');
         mtiTracking.type = 'text/javascript';
         mtiTracking.async = 'true';
         mtiTracking.src = '../js/mtiFontTrackingCode.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
     })();

    // Initializing Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     var track = function(refurl,type,url) {
        ga('ttuTracker.send', 'event', type, 'click', refurl, {'hitCallback':
         function () { document.location = url; }
        });
     }
    // Creating the TTU Google Analytics tracker
    ga('create','UA-6015770-1' , 'ttu.edu',{'name': 'ttuTracker'});
    ga('ttuTracker.send', 'pageview');

    // Modifying link urls
    function buildLink(path,name) {
        var page = location.href.replace("http://","#").replace("https://","#");
        return "/"+path+"/"+name+"/"+page;
    }

    // Setting Variables
    var page_id="http://www.ttu.edu/index.php";
    var site_has_own_hostname="yes";
</script>
